.B{
    width: 100%;
    height: 300vh;
    background: url(images/IMG_3858.JPG) no-repeat;
    background-size: cover;
}


.H{
    
background: radial-gradient(circle, rgba(63,94,251,0.8519782913165266) 0%, rgba(53,196,204,1) 100%);
    opacity: 0.6;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

.p{
    text-align: center;
    padding: 10px;
    margin: 450px;
    margin-top: auto;
    background-color: rgba(255,255,255,0.65);
    color: rgb(230, 134, 217);
    font-family: Open Sans Condensed;
}

.p2{
    text-decoration: none;
    list-style: none;
}

.but{
    border-radius: 40px;
    background-color: lightskyblue;
    padding-left:  20px;
    padding-right: 20px;
    font-family: Open Sans Condensed;
    
}

.but:hover{
    background-color: rgb(4, 157, 252);
     
}
